<div class="row my-4">
    <div class="col-md-6">
        <h3>List of Books</h3>
    </div>
    <div class="col-md-6 text-right">
        <button class="btn btn-dark btn-sm">
            <i class="fa fa-plus"></i> New book
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <div class="form-group">
            <label for="Label">Label</label>
            <input [(ngModel)]="myBook.label" id="Label" type="text" class="form-control">
        </div>
        <div class="form-check my-2">
          <label class="form-check-label">
            <input [(ngModel)]="myBook.completed" type="checkbox" class="form-check-input">
            Completed
          </label>
        </div>
        <button (click)="persistBook()" class="btn btn-success btn-block">
            <i class="fa fa-send"></i> New Book
        </button>
    </div>
</div>
<div class="row">
    <div class="col-md-6 mx-auto">
        <ul class="list-group">
            <li *ngFor="let book of books" class="list-group-item d-flex justify-content-between align-items-center">
                <button class="btn btn-warning btn-sm">
                    <i class="fa fa-pencil"></i>
                </button>
                {{ book.label }}
                <span [ngClass]="{
                    'badge-info': book.completed,
                    'badge-danger': !book.completed
                }" class="badge badge-pill">
                    <i class="fa" [ngClass]="{
                        'fa-thumbs-up': book.completed,
                        'fa-thumbs-down': !book.completed
                    }"></i>
                </span>
                <button (click)="deleteBook(book.id)" class="btn btn-dark btn-sm">
                    <i class="fa fa-trash "></i>
                </button>
            </li>
        </ul>
    </div>
</div>